<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Persona</title>
    <link rel="icon" type="image/png"  href="images/logo.png" size="16x16" />
    <link rel="icon" type="image/x-icon"  href="images/logo.png" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/layout.css"> 
    <link rel="stylesheet" href="/css/modules.css">
    
</head>