h1 {
    font-size: 1.5em;
    padding-bottom: 20px;
    color: #12284c;
    text-shadow: 2px 3px 3px rgba(0,0,0,0.3);
}

input {
    display: block;
    margin: 25px auto;
    width: 100%;
    padding: 7%;
    border: solid 1px grey;
    border-radius: 5px;
    font-size: 1em;
}

button {
    width: 100%;
    color: white;
    background-color: #0070BA;
    padding: 5%;
    border: solid 1px grey;
    border-radius: 5px;
    font-size: 1em;
}

header img {
    width: 50%;
}

main {
    margin-bottom: 20px;
}

footer a {
    width: 20%;
    text-align: center;
}


@media (min-width: 960px){

    footer {
        height: 100px;
    }
        
    footer a {
        width: 20%;
        text-align: center;
    }
    
}

@media(min-width:960px) {
    input {
        width: 90%;
        margin-left: 5%;
        padding:2%;
        border: 5px solid gray;
    }
    body {
        font-size: 400%;
    }
    td button {
        padding-right: 50%;
        margin-left: 1%;
    }
    form {
        float: left;
    }
    #searchBar {
        width: 50%;
    }
}

