<!DOCTYPE html>
<html lang="en">

<body>
    <h1>404</h1>
    <h2>Sorry!</h2>
    <p>This route does not exist</p>
    <button id="404GoBack">Go back</button>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="./js/404.js"></script>
</body>
</html>