<!DOCTYPE html>
<html lang="en">

<body>
    <main>
        <h1>404</h1>
        <h2>Sorry!</h2>
        <p>This route does not exist</p>
        <button id="404GoBack">Go back</button>
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/js/four-o-four.js"></script>

</html>